<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" th:href="@{~/assets/img/kit/free/apple-icon.png}">
    <link rel="apple-touch-icon" href="./assets/img/kit/free/apple-icon.png">

    <link rel="icon" href="./assets/img/kit/free/favicon.png">
    <link rel="icon" th:href="@{~/assets/img/kit/free/favicon.png}">

    <title>
        Rotten Potato
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{~/assets/css/material-kit.css?v=2.0.2}">
    <link rel="stylesheet" href="./assets/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{~/assets/assets-for-demo/demo.css}" rel="stylesheet"/>
    <link href="./assets/assets-for-demo/demo.css" rel="stylesheet"/>

</head>

<body class="index-page ">
<nav class="navbar navbar-expand-lg fixed-top  bg-dark">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/index.html">Rotten Potato</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/m/d/0">Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tv">TV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/critic_all/0">Critic</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse">
            <!--search form-->
            <form class="form-inline ml-auto mr-5" action="/searchResult" method="get">
                <div class="form-group has-white">
                    <input name="term" type="text" class="form-control" style="width:300px" placeholder="Search">
                </div>
                <div class="col-auto my-0">
                    <select class="custom-select custom-select-sm" name="type" style="height: 30px;">
                        <option value="movie">Movies</option>
                        <option value="tv">Tvs</option>
                        <option value="actor">Actors</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-sm">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <!--login signup button-->
            <div th:if="${isLogin} == true">
                <p th:bgcolor="white" th:text="${username}" onclick="window.location.href='/1/me'"></p>
                <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/logout'">Logout</button>

            </div>
            <div th:if="${isLogin} == false">
                <div>
                    <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/loginPage'">Login</button>
                    <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/registration'">Register</button>
                </div>
            </div>
        </div>

    </div>
</nav>
<div class="page-header header-filter clear-filter purple-filter" data-parallax="true"
     style="background-image: url('./assets/img/Moonlight.jpg'); background-size: 34% auto;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="section section-basic mx-2">
        <div class="row">
            <!--movie list-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">COMING SOON TO THEATERS</h2>
                            <table class="table table-striped">
                                <tbody>
                                <tr th:each="movie:${movieOpeningThisWeek}">
                                    <td>
                                        <a th:text="${movie.movieName}"
                                           th:href="'javascript:getMovie(\''+${movie.key}+'\')'">
                                        </a>
                                    </td>
                                    <td class="pull-right" th:text="${movie.date}">MAR 2</td>
                                </tr>
                                </tbody>
                            </table>
                        <a class="pull-right" href="/m/d/0">View All</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">TOP BOX OFFICE</h2>
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="movie:${topBoxOffice}">
                                <!--<td th:text="${movie.rate}">N/A</td>-->
                                <td>
                                    <a th:text="${movie.movieName}"
                                       th:href="'javascript:getMovie(\''+${movie.key}+'\')'">
                                    </a>
                                </td>
                                <td th:text="${movie.boxOffice}">MAR 2</td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="pull-right" href="/m/b/0">View All</a>
                    </div>
                </div>
            </div>
            <!--tv list-->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">NEWEST TV SHOWS</h2>
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="tv:${newTVShows}">
                                <td>
                                    <a th:text="${tv.TVName}"
                                       th:href="'javascript:getTv(\''+${tv.key}+'\')'">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="pull-right" href="/m/d/0">View All</a>
                    </div>
                </div>

            </div>
        </div>
        <!--video-->
        <div class="row m-2 px-2">
            <div class="col-md-12 px-0">
                <h2 class="title mb-4">Trailers & Videos</h2>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://placeholder.com"><img
                                src="http://via.placeholder.com/480x270" width="100%"></a>
                        <h6 class="mt-2">some text</h6>
                    </div>
                    <div class="col-md-3">
                        <a href="https://placeholder.com"><img
                                src="http://via.placeholder.com/240x135" width="100%" ></a>
                        <h6 class="mt-2">some text</h6>
                        <a href="https://placeholder.com"><img
                                src="http://via.placeholder.com/240x135" width="100%"></a>
                        <h6 class="mt-2">some text</h6>
                    </div>
                    <div class="col-md-3">
                        <a href="https://placeholder.com"><img
                                src="http://via.placeholder.com/240x135" width="100%"></a>
                        <h6 class="mt-2">some text</h6>
                        <a href="https://placeholder.com"><img
                                src="http://via.placeholder.com/240x135" width="100%"></a>
                        <h6 class="mt-2">some text</h6>
                    </div>
                </div>
                <a class="pull-right" href="news.html">More Trailers & Videos</a>
            </div>
        </div>
        <!--news-->
        <div class="row m-2 px-2">
            <div class="col-md-12 px-0">
                <h2 class="title">News & features</h2>
                <div class="row">
                    <div class="col-md-3">
                        <a href="https://placeholder.com">
                            <img src="http://via.placeholder.com/240x135" width="100%"></a>
                        <h6 class="mt-2">some text</h6>
                    </div>
                </div>
                <a class="pull-right" href="news.html">More News & Features</a>
            </div>
        </div>

    </div>
</div>
<!-- Classic Modal -->

<!--  End Modal -->
<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <a href="/about">About Us</a>
                </div>
                <div class="row">
                    <a href="/service">Terms of Service</a>
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        Follow us:
                    </li>
                    <li>
                        <img th:src="@{~/assets/img/kit/free/facebook.png}" width="16" height="16" onclick="window.open('www.facebook.com/Rotten-Potato-1736246306467236')">
                    </li>
                    <li>
                        <img th:src="@{~/assets/img/kit/free/twitter.png}" width="16" height="16" onclick="window.open('https://twitter.com/Redwood05618547')">
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , The Redwood Team
                </div>
            </div>
        </div>


    </div>
</footer>
<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/bootstrap-material-design.js}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script th:src="@{~/assets/js/plugins/moment.min.js}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script th:src="@{~/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{~/assets/js/plugins/nouislider.min.js}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script th:src="@{~/assets/js/material-kit.js?v=2.0.2}"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script th:src="@{~/assets/assets-for-demo/js/material-kit-demo.js}"></script>
<script type="text/javascript" th:src="@{~/js/index.js}"></script>

<!--test-->
<script src="./assets/js/core/jquery.min.js"></script>
<script src="./assets/js/core/popper.min.js"></script>
<script src="./assets/js/bootstrap-material-design.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="./assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="./assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="./assets/js/material-kit.js?v=2.0.2"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="./assets/assets-for-demo/js/material-kit-demo.js"></script>


</body>

</html>