<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<!--Header-->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" th:href="@{~/assets/img/kit/free/apple-icon.png}">
    <link rel="apple-touch-icon" href="./assets/img/kit/free/apple-icon.png">

    <link rel="icon" href="./assets/img/kit/free/favicon.png">
    <link rel="icon" th:href="@{~/assets/img/kit/free/favicon.png}">

    <title>
        Rotten Potato
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{~/assets/css/material-kit.css?v=2.0.2}">
    <link rel="stylesheet" href="./assets/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{~/assets/assets-for-demo/demo.css}" rel="stylesheet"/>
    <link href="./assets/assets-for-demo/demo.css" rel="stylesheet"/>

</head>
<body class="profile-page">
<nav class="navbar navbar-expand-lg fixed-top  bg-dark">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/index.html">Rotten Potato</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/m/d/0">Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tv">TV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/critic_all/0">Critic</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse">
            <!--search form-->
            <form class="form-inline ml-auto mr-5" action="/searchResult" method="get">
                <div class="form-group has-white">
                    <input name="term" type="text" class="form-control" style="width:300px" placeholder="Search">
                </div>
                <div class="col-auto my-0">
                    <select class="custom-select custom-select-sm" name="type" style="height: 30px;">
                        <option value="movie">Movies</option>
                        <option value="tv">Tvs</option>
                        <option value="actor">Actors</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-sm">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <!--login signup button-->
            <div th:if="${isLogin} == true">
                <p th:bgcolor="white" th:text="${username}" onclick="window.location.href='/1/me'"></p>
                <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/logout'">Logout</button>

            </div>
            <div th:if="${isLogin} == false">
                <div>
                    <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/loginPage'">Login</button>
                    <button class="btn btn-sm btn-primary mx-1" onclick="window.location.href='/registration'">Register</button>
                </div>
            </div>
        </div>

    </div>
</nav>
<div class="page-header" data-parallax="false"
     style="height: 18vh !important;">
</div>

<!--Body-->
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <!--User Info-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <!--personal info-->
                        <div class="card">
                            <div class="card-body" >
                                <div class="row">
                                    <!--User image-->
                                    <div class="col-md-6 text-center">

                                        <div class="avatar">
                                            <img th:src="@{'~/Images/userImages/'+${userId}+'.jpg'}" th:width="200" th:height="200"
                                                 th:onerror="'this.src=\'' + @{~/assets/img/default.jpg} + '\';'">
                                        </div>
                                    </div>
                                    <!--User Info-->
                                    <div class="col-md-6 text-left">
                                        <!--User first name and last name-->
                                        <h3 class="title" th:text="${firstName}+' '+${lastName}">FirstName LastName</h3>

                                        <!--User details-->
                                        <div id="info-section">
                                            <!--email and follower-->
                                            <ul class="list-unstyled infolist-height">
                                                <li th:text="${email}">Empty Email</li>
                                                <li>Follower count:</li>
                                            </ul>
                                            <div class="float-right">
                                                <button type="button" class="btn btn-sm btn-primary">Manage Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-Follow Area-->
            <div class="row">
                <!--following list-->
                <div class="col-md-6 mt-3">
                    <h3 class="title mx-4 float-left">Following</h3>
                    <div class="card mx-4">
                        <div class="card-body" style="height: 300px;overflow: hidden;">
                            <ul>
                                <li>
                                    <a href="#">friend</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <!--follower list-->
                <div class="col-md-6 mt-3">
                    <h3 class="title mx-4 float-left">Followers</h3>
                    <div class="card mx-4">
                        <div class="card-body" style="height: 300px;overflow: hidden;">
                            <ul>
                                <li>
                                    <a href="#">friend</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--want to see movies-->
            <div class="row" id="want-to-see-movies">
                <h3 class="title float-left">Want to see movies</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-3 text-center">
                            <a href="https://placeholder.com">
                                <img class="img-center" src="http://via.placeholder.com/130x193"></a>
                            <p class="font-weight-bold my-0">NAME</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--want to see TVs-->
            <div class="row" id="want-to-see-tvs">
                <h3 class="title float-left">Want to see TVs</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-3 text-center">
                            <a href="https://placeholder.com">
                                <img class="img-center" src="http://via.placeholder.com/130x193"></a>
                            <p class="font-weight-bold my-0">NAME</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--review + rating-->
            <div class="row" id="review-and-rating">
                    <h3 class="title">Review History</h3>
                
                    <!--<div class="card">-->
                        <!--<div class="card-body">-->
                            <!--<div id="film-table">-->
                                <!--<nav>-->
                                    <!--<div class="nav nav-tabs" id="nav-tab" role="tablist">-->
                                        <!--<a class="nav-item nav-link active text-center" style="width: 500px" id="nav-movie-tab" data-toggle="tab"-->
                                           <!--href="#nav-movie" role="tab" aria-controls="nav-home"-->
                                           <!--aria-selected="true">Movies</a>-->
                                        <!--<a class="nav-item nav-link text-center" style="width: 500px"  id="nav-tv-tab" data-toggle="tab"-->
                                           <!--href="#nav-tv" role="tab" aria-controls="nav-profile" aria-selected="false">TVs</a>-->
                                    <!--</div>-->
                                <!--</nav>-->
                                <!--<div class="tab-content" id="nav-tabContent">-->
                                    <!--<div class="tab-pane fade show active" id="nav-movie" role="tabpanel"-->
                                         <!--aria-labelledby="nav-home-tab">-->
                                        <!--<div class="filmography-list">-->
                                            <!--<table class="table table-striped rating-history-table">-->
                                                <!--<thead>-->
                                                    <!--<tr>-->
                                                        <!--<th>RATING</th>-->
                                                        <!--<th>TITLE</th>-->
                                                        <!--<th>REVIEWS</th>-->
                                                        <!--<th>Edit</th>-->
                                                        <!--<th>Delete</th>-->
                                                    <!--</tr>-->
                                                <!--</thead>-->
                                                <!--<tbody>-->
                                                    <!--<tr>-->
                                                        <!--<td>55%</td>-->
                                                        <!--<td>XXX</td>-->
                                                        <!--<td>XXX</td>-->
                                                        <!--<td>edit</td>-->
                                                        <!--<td>delete</td>-->
                                                    <!--</tr>-->
                                                    <!--<tr>-->
                                                        <!--<td>55%</td>-->
                                                        <!--<td>XXX</td>-->
                                                        <!--<td>XXX</td>-->
                                                        <!--<td>edit</td>-->
                                                        <!--<td>delete</td>-->
                                                    <!--</tr>-->
                                                <!--</tbody>-->
                                            <!--</table>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="tab-pane fade" id="nav-tv" role="tabpanel"-->
                                         <!--aria-labelledby="nav-profile-tab">-->
                                        <!--<div class="filmography-list">-->
                                            <!--<table class="table table-striped rating-history-table">-->
                                                <!--<thead>-->
                                                <!--<tr>-->
                                                    <!--<th>RATING</th>-->
                                                    <!--<th>TITLE</th>-->
                                                    <!--<th>REVIEWS</th>-->
                                                    <!--<th>Edit</th>-->
                                                    <!--<th>Delete</th>-->
                                                <!--</tr>-->
                                                <!--</thead>-->
                                                <!--<tbody>-->
                                                <!--<tr>-->
                                                    <!--<td>55%</td>-->
                                                    <!--<td>XXX</td>-->
                                                    <!--<td>XXX</td>-->
                                                    <!--<td>edit</td>-->
                                                    <!--<td>delete</td>-->
                                                <!--</tr>-->
                                                <!--<tr>-->
                                                    <!--<td>55%</td>-->
                                                    <!--<td>XXX</td>-->
                                                    <!--<td>XXX</td>-->
                                                    <!--<td>edit</td>-->
                                                    <!--<td>delete</td>-->
                                                <!--</tr>-->
                                                <!--</tbody>-->
                                            <!--</table>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <ul>
                        <li>
                            <a href="/about">
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a >Follow us:</a>
                    </li>
                    <li>
                        <img th:src="@{~/assets/img/kit/free/facebook.png}" width="16" height="16" onclick="window.open('https://www.facebook.com')">
                    </li>
                    <li>
                        <img th:src="@{~/assets/img/kit/free/twitter.png}" width="16" height="16" onclick="window.open('https://twitter.com')">
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , The Redwood Team
                </div>
            </div>
        </div>
    </div>
</footer>
<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/bootstrap-material-design.js}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script th:src="@{~/assets/js/plugins/moment.min.js}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script th:src="@{~/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{~/assets/js/plugins/nouislider.min.js}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script th:src="@{~/assets/js/material-kit.js?v=2.0.2}"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script th:src="@{~/assets/assets-for-demo/js/material-kit-demo.js}"></script>
<script type="text/javascript" th:src="@{~/js/index.js}"></script>


<!--test-->
<script src="./assets/js/core/jquery.min.js"></script>
<script src="./assets/js/core/popper.min.js"></script>
<script src="./assets/js/bootstrap-material-design.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="./assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="./assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="./assets/js/material-kit.js?v=2.0.2"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="./assets/assets-for-demo/js/material-kit-demo.js"></script>

</body>

</html>
