<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../static/assets/img/kit/free/apple-icon.png">
    <link rel="icon" href="../static/assets/img/kit/free/favicon.png">
    <title>
        Rotten Potato
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/material-kit.css?v=2.0.2">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
</head>

<body class="index-page ">
<nav class="navbar navbar-expand-lg fixed-top  bg-dark">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/index.html">Rotten Potato</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#pablo" class="nav-link">SignUp</a>
                </li>
                <li class="nav-item">
                    <a href="#pablo" class="nav-link">LogIn</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="page-header" data-parallax="false"
     style="height: 18vh !important;">

</div>

<div class="main main-raised">
    <div class="section section-basic mx-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div>
                        <h2 class="card-title text-center">video</h2>

                        <div class="card-body">


                            <div class="card">
                                <div class="card-body">

                                    <video id="videoarea" controls="controls" poster="" src=""></video>

                                    <!--<ul id="playlist">-->
                                    <!--<li movieurl="testSample.mp4">Happy Fit</li>-->
                                    <!--<li movieurl="testSample1.mp4">Sintel</li>-->
                                    <!--<li movieurl="testSample.mp4">Resident Evil</li>-->
                                    <!--<li movieurl="testSample1.mp4">Big Buck Bunny</li>-->
                                    <!--</ul>-->
                                    <ul id="playlist">
                                        <li th:each="test : ${testSample}" th:movieurl="${test}">user name</li>
                                    </ul>

                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean. A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Nice Button</button>
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->
<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , The Redwood Team
        </div>
    </div>
</footer>
<!--   Core JS Files   -->
<script src="../static/assets/js/core/jquery.min.js"></script>
<script src="../static/assets/js/core/popper.min.js"></script>
<script src="../static/assets/js/bootstrap-material-design.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="../static/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../static/assets/js/plugins/nouislider.min.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="../static/assets/js/material-kit.js?v=2.0.2"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="../static/assets/assets-for-demo/js/material-kit-demo.js"></script>


<script>$(function() {
    $("#playlist li").on("click", function() {
        $("#videoarea").attr({
            "src": $(this).attr("movieurl"),
            "poster": "",
            "autoplay": "autoplay"
        })
    })
     <!--$("#abc123").on("click", function() {-->
        <!--$("#videoarea").attr({-->
            <!--"src": $(this).next().attr("movieurl"),-->
            <!--"poster": "",-->
            <!--"autoplay": "autoplay"-->
        <!--})-->
        <!--console.log("asda")-->
    <!--})-->
    $("#videoarea").attr({
        "src": $("#playlist li").eq(0).attr("movieurl"),
        "poster": $("#playlist li").eq(0).attr("moviesposter")
    })
})
</script>



</body>

</html>