.font-16 {
    font-size: 16px !important;
    line-height: 2;
}

.font-18 {
    font-size: 16px !important;
    line-height: 2;
}

.font-20 {
    font-size: 16px !important;
    line-height: 2;
}

.font-24 {
    font-size: 16px !important;
    line-height: 2;
}

.icon-oscar {
    background: url('../img/oscar.png');
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    /* Other styles here */
}

.carousel-inner{
    width: 100%;
    height: 480px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
#search-result-table td:first-child{
    padding: 10px;
    width: 100px;
    text-align: center;
}
#search-result-table td:nth-child(2){
    padding: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
}
#search-result-table td:nth-child(3){
    width: 800px;
}