.font-16 {
    font-size: 16px !important;
    line-height: 2;
}

.font-18 {
    font-size: 16px !important;
    line-height: 2;
}

.font-20 {
    font-size: 16px !important;
    line-height: 2;
}

.font-24 {
    font-size: 16px !important;
    line-height: 2;
}

.icon-oscar {
    background: url('../img/oscar.png');
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    /* Other styles here */
}

.carousel-inner{
    width: 100%;
    height: 480px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
#search-result-table-item td:first-child{
     padding: 10px;
     width: 100px;
     text-align: center;
 }
#search-result-table-item td:nth-child(2){
    padding: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
}
#search-result-table-item td:nth-child(3){
    width: 800px;
}
#search-result-table-cele td:first-child{
    padding: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
}
#search-result-table-cele td:nth-child(2){
    width: 800px;
}



.card .card-header-light, .card.bg-light,
.card.card-rotate.bg-light .front,
.card.card-rotate.bg-light .back {
    background: #343535 }
.card .card-header-light {
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 0, 0, 0.6); }
#movielist-table{
    text-align: left;
}
#movielist-table th:first-child{
    width: 30px;
}
#movielist-table th:nth-child(2){
    width: 180px;
}
#movielist-table th:nth-child(3){
    width: 50px;
}
#movielist-table th:nth-child(4){
     width: 50px;
 }
#movielist-table th:last-child{
    width: 50px;
}

#tvlist-table{
    text-align: left;
}
#tvlist-table th:first-child{
    width: 30px;
}
#tvlist-table th:nth-child(2){
    width: 230px;
}
#tvlist-table th:nth-child(3){
    width: 50px;
}
#tvlist-table th:last-child{
    width: 50px;
}
.review-table{
    text-align: left;
}

.review-table th:first-child{
    width: 30px;
}
.review-table th:nth-child(2){
    width: 50px;
}
.review-table th:nth-child(3){
    width: 50px;
}
.review-table th:last-child{
    width: 300px;
}

.infolist-height{
    height: 96px;
}
.rating-history-table th:first-child{
    width: 100px;
    text-align: left;
}

.rating-history-table td:first-child{
    width: 100px;
    text-align: left;
}
.rating-history-table th:nth-child(2){
    width: 200px;
    text-align: left;
}
.rating-history-table td:nth-child(2){
    width: 200px;
    text-align: left;
}
.rating-history-table th:nth-child(3){
    width: 500px;
    text-align: left;
}
.rating-history-table td:nth-child(3){
    width: 600px;
    text-align: left;
}
.rating-history-table th:nth-child(4){
    text-align: end;
}
.rating-history-table td:nth-child(4){
    text-align: end;
}

.rating-history-table th:last-child{
    text-align: end;
}
.rating-history-table td:last-child{
    text-align: end;
}

#want-to-see-table td:first-child{
    padding: 10px;
    width: 240px;
    text-align: center;
}
#want-to-see-table td:nth-child(2){
    padding: 10px;
    width: 800px;
    height: 150px;
    text-align: center;
}
#want-to-see-table td:last-child{
    text-align: end;
}

.overflow{
    overflow: hidden;
}

.link-white-color-active{
    color: #FFFFFF;
    background-color: #7b1fa2;

}